.homepage {
  display: flex;
  justify-content: center; /* horizontal zentrieren */
  align-items: center; /* vertikal zentrieren */
  height: 100vh; /* volle Höhe des Viewports */
  background: linear-gradient(
    #3eb489,
    #98ff99
  ); /* optional: Hintergrundfarbe */
  text-align: center;
  flex-direction: column;
  color: white;
}

.homepage button{
  margin: 10px;
  width: 25vh;
  height: 7vh;
  background-color: #4FC28C;
  color: white;
  border-radius: 50px;
  border-color: white;
  border-style: solid;
  border-width: 3px;
  cursor: pointer;
  font-size: 30px;
  font-weight: 600;
}

.homepage h1 {
  font-size: 5vh;
  margin-bottom: 60px;
}
