.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
  }
  
  .logo {
    margin: 0;
  }
  
  .dropdownContainer {
    position: relative;
  }
  
  .dropdownButton {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .dropdownMenu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    color: #333;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
  }
  
  .menuItem {
    display: block;
    padding: 10px 20px;
    width: 100%;
    text-align: left;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }